
body {
/* Origen de la imagen*/
background-image:url("img/fondo.jpg");
/*Propiedad de trasparencia*/
opacity: 0.8;
/*La imagen no debe reprtirse*/
background-repeat: no-repeat;
/*Fijamos la imagen en la pantala*/
background-attachment: fixed;
/*Fijar la imagen de fondo vertical y horizontal y centrado*/
background-position: center center;
/*La imagen ocupará el 100% */
background-size: cover;
/*Propiedad para establecer el ancho del fondo*/
 width: 100%;
}
form{
/*Propiedad para establecer el ancho del formulario*/
  width:30%;
/*Propiedad para establecer la altura del formulario*/
  height:30%;
/*Propiedad que define en 10px el radio de la esquina del formulario*/
	border-radius:10px;
/*Propiedad para dar color al formulario*/
	background-color:#66d9e8;
/*Definir borde del formulario*/
  border: 2px solid black;
/*Marge del formulario*/
  margin: 180px 0px 0px 900px;
}
.logoT {
/*Ancho del logo */
  width: 100px;
/*Definir margen*/
  margin: 30px 00px 20px 330px;
}

.info{
/*Tamaño del texto*/
   font-size: 15px;
   font-size:x-large;
/*Negrita*/
   font-weight: bold;
/*Fuente*/
   font-family:"Lucida" Grande, sans-serif;
/*Subrayado*/
   text-decoration: underline  black;
}

/*Sobre el contenedor aceptamos--fondo*/
.aceptamos{
  background-color: #ffec99;
}
/*Sobre la etiqueta ACEPTAMOS*/
.acepTarjeta{
/*Ubicación*/
  margin: 0px 40px 0px 50px;
/*Fuente*/
  font-family:serif;
/*Tamaño*/
  font-size:x-large;
}
/*Sobre la tabla donde están las imágenes de tarjetas y el radio*/
.tabTarjeta{
  margin: 10px 40px 10px 180px;
}
/*Sobre la imagen visa*/
.imagecardi{
width: 30%;
}
/*Sobre la imagen mastercard*/
.imagecardd{
width: 40%;
margin:0px 0px 0px 30px;
}

/*Sobre etiqueta y type de los nombres ingresados*/
.nombre{
  font-family:serif;
  font-size:x-large;
/*Alinear el div al centro - horizontalmente*/
  text-align: center;
/*Alinear el div verticalmemte*/
  line-height:80px;
}
.nombrespaciente{
  width: 200px;
  height:30px;
}

/*Sobre etiqueta y type de los números ingresados*/
.number{
  font-family:serif;
  font-size:x-large;
/*Alinear el div al centro - horizontalmente*/
    text-align: center;
/*Alinear el div verticalmemte*/
    line-height:80px;
}
.numberBox{
  width: 200px;
  height:30px;
}

/*Sobre el mes y año ingresado*/
.tabMesAño{
margin: 10px 40px 10px 210px;
}

.mesexpiraciontext{
  font-family:serif;
  font-size:large;
  margin: 0px 0px 0px 20px;
  }
.mesBox{
  width: 60px;
  height:30px;
  margin: 0px 60px 0px 50px;
}
.añoexpiraciontext{
  font-family:serif;
  font-size:large;
  margin: 0px 0px 0px 20px;
    }
.añoBox{
  width: 60px;
  height:30px;
  margin: 0px 30px 0px 50px;
}
/*Sobre el CVV*/
.cvv{
  font-family:serif;
  font-size:x-large;
  text-align: center;
  line-height:80px;
}
.cvvBox{
  width: 200px;
  height:30px;
}
/*Sobre el botón VALIDAR*/
button{
  display:block;
    margin-left: auto;
    margin-right: auto;
    border: :1px solid #206020;
    color: white;
    width: 95px;
    height: 60px;
    cursor:pointer;
    background: #206020;
    font-size: large;
    width: 70%;

}
/*Selecciona el botón*/
button:hover{
  background: #24b080;
  border: 2px solid #24b080;
  color: #5f3dc4;
}
/*Sobre mostar saludo + nombres*/
.mostrarnombre{
  text-align:center;
  font-family:sans-serif;
  font-size:x-large;
  font-weight: bold;
  color: #e64980;
  margin: 0px 30px 0px 50px;
}
/*Sobre mostrar enmascarado*/
.mascara{
    text-align:center;
    font-family:sans-serif;
    font-size:x-large;
    font-weight: bold;
    margin: 0px 30px 0px 50px;
}
/*Sobre mostrar alidación*/
.valiNum{
  text-align:center;
  font-family:sans-serif;
  font-size:x-large;
  font-weight: bold;
  margin: 0px 50px 0px 50px;
}
