body {
/* Origen de la imagen*/
background-image:url("img/3200.jpg");
opacity: 0.8;
/*La imagen no debe reprtirse*/
background-repeat: no-repeat;
/*Fijamos la imagen en la pantala*/
background-attachment: fixed;
/*Fijar la imagen de fondo vertical y horizontal y centrado*/
background-position: center center;
/*La imagen ocupará el 100% */
background-size: cover;
/*Damos color mientras carga la imagen*/
 background-color: #464646;
 width: 100%;
}



form{
  margin: 180px 680px 280px 550px;
  width:700px;
  height: 1100px;
	padding:16px;
	border-radius:10px;
  border-color: blue;
  border: 1px dotted #999;
	background-color:rgb(141, 211, 233);
}


.info{
  style= color:blue;
   font-size: 20px;
   font-weight: bold;
   font-family:sans-serif;
   text-decoration: underline wavy black;
}

img {width: 100px; height: 40px
  margin-left:auto;
  margin-right: auto;
  margin: 10px 9px 30px 10px;
}

.terapy{width: 400px; ;
  margin-left:auto;
  margin-right: auto;
}

.imagecardd{
float: right;
margin: 0px 120px 20px 0px;
}

.imagecardi{
float: left;
margin: 0px 20px 0px 120px;
}

.mesexpiraciontext{
  font-family:monospace;
  font-size:large;

  }
.añoexpiraciontext{
  font-family:monospace;
  font-size:large;

    }
button{
  display:block;
    margin-left: auto;
    margin-right: auto;
    border: :1px solid #206020;
    color: white;
    width: 95px;
    height: 60px;
    cursor:pointer;
    background: #206020;
    font-size: large;
    width: 70%;

}

button:hover{
  background: #24b080;
  border: 2px solid #24b080;
  color: #fff;
}
table{
  display: block;
  margin: 60px 90px 50px 120px;

}
.number{
  font-family:sans-serif;
  font-size:x-large;
  margin: 60px 0px 0px 100px;
  margin-right:auto;
}
.nombre{
  font-family:serif;
  font-size:x-large;
  margin: 110px 0px 0px 100px;
  margin-left:auto;
}

.box1{
  margin: 0px 0px 0px 0px;
  width: 200px;
  height:30px;
}
.nombrespaciente{
  margin: 0px 0px 0px 0px;
  width: 200px;
  height:30px;
}

.box2{
  width: 60px;
  height:30px;
  margin: 0px 60px 0px 50px;
}

.box3{
  width: 60px;
  height:30px;
  margin: 0px 30px 0px 50px;
}
.relleno{
  margin: 0px 50px 0px 80px;
}

.valiNum{
  text-align:center;
  font-family:sans-serif;
  font-size:x-large;
  font-weight: bold;
  margin: 0px 50px 0px 50px;
}

.mascara{
text-align:center;
    font-family:sans-serif;
    font-size:x-large;
    font-weight: bold;
    margin: 0px 30px 0px 50px;
}
