body { background-image:url("https://i.pinimg.com/originals/a6/95/00/a6950043c84a02344047ba326ec293bc.jpg");
opacity: 0.6;
}

form{
  margin: 180px 280px 280px 450px;
  width:1000px;
  height: 500px;
	padding:16px;
	border-radius:10px;
  border-color: blue;
  border: 1px dotted #999;
	background-color:rgb(141, 211, 233);


}
.info{
  style= color:blue;
   font-size: 50px;
   font-weight: bold;
   font-family: fantasy;
}

img {width: 150px; height: 40px
  margin-left:auto;
  margin-right: auto;
  margin: 10px 9px 30px 10px;
}
.numberCard{
	width:168px;
  height:30PX;
  font-family:monospace;
  font-size: smaller;
	font-weight:bolder;
  display:inline;

}

.imagecardd{
float: right;
margin: 0px 250px 10px 0px;
}

.imagecardi{
float: left;
margin: 0px 10px 0px 250px;
}

.mesexpiracion{
  display: block;
  margin: .5em 0 0 0;
  width: 250px;
  float: left;
  }
.añoexpiracion{
  display: block;
  margin: .20em 0 0 0;
  width: 250px;
  float: right;
    }
button{
  display:block;
    margin-left: auto;
    margin-right: auto;
    color: blue;
    width: 95px;
    height: 60px

}
.numberCardText{
  display:block;
    margin-left: auto;
    margin-right: auto;
      margin: 0px 70px 80px 40px;
}
